body {
	background-color: #cecece;
}

#instafeed {
	background-color: #ffffff;
}

/*#clickText {
	background-color: #ffffff;
}

#boxPictures {
	background-color: #000000;
	min-height: 100px;
	min-width: 100px;
}*/